{{#prettify}}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js ie ie8 ltie9 ltie10"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9 ltie10"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />

		<link rel="stylesheet" href="{{ assets }}css/styles.css">

		<script src="{{ assets }}js/lib/modernizr.js"></script>
	</head>
	<body>
		{{> header }}
		{{> body }}
		{{> footer }}

		{{> scripts }}
	</body>
</html>
{{/prettify}}
