{{#prettify}}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js ie ie8 ltie9 ltie10"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9 ltie10"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="{{ assets }}css/doc.css">
	</head>
	<body class="doc">
		{{> body}}
	</body>
</html>
{{/prettify}}
