---
title: Background Progressive Image
layout: prologue

valid: --
ie8: --
ie9: --
ie10: --
opera: --
chrome: --
safari: --
firefox: --
lynx: --
print: --
mobile: --
tablet: --
---

<!-- Intro -->
	<section id="top" class="one dark cover overlay">
		<div class="container">

			<header>
				<h2 class="alt">Hi! I'm <strong>Prologue</strong>, a <a href="http://html5up.net/license">free</a> responsive<br />
				site template designed by <a href="http://html5up.net">HTML5 UP</a>.</h2>
				<p>Ligula scelerisque justo sem accumsan diam quis<br />
				vitae natoque dictum sollicitudin elementum.</p>
			</header>

			<footer>
				<a href="#portfolio" class="button scrolly">Magna Aliquam</a>
			</footer>

		</div>
	</section>

<!-- Portfolio -->
	<section id="portfolio" class="two">
		<div class="container">

			<header>
				<h2>Portfolio</h2>
			</header>

			<p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
			egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
			Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
			fusce hendrerit lacus ridiculus.</p>

			<div class="row">
				<div class="4u">
					<article class="item">
						<a href="#" class="image fit"><img src="images/unsplash_steven_lewis.jpg" alt="" /></a>
						<header>
							<h3><a href="https://unsplash.com/stevenlewis">Steven Lewis</a></h3>
						</header>
					</article>
					<article class="item">
						<a href="#" class="image fit"><img src="images/unsplash_charles_s.jpg" alt="" /></a>
						<header>
							<h3><a href="https://unsplash.com/charless">Charles S.</a></h3>
						</header>
					</article>
				</div>
				<div class="4u">
					<article class="item">
						<a href="#" class="image fit"><img src="images/unsplash_david_marcu.jpg" alt="" /></a>
						<header>
							<h3><a href="https://unsplash.com/davidmarcu">David Marcu</a></h3>
						</header>
					</article>
					<article class="item">
						<a href="#" class="image fit"><img src="images/unsplash_jasper_van_der_meij.jpg" alt="" /></a>
						<header>
							<h3><a href="https://unsplash.com/jaspervandermeij">Jasper van der Meij</a></h3>
						</header>
					</article>
				</div>
				<div class="4u">
					<article class="item">
						<a href="#" class="image fit"><img src="images/unsplash_matthew_clark.jpg" alt="" /></a>
						<header>
							<h3><a href="https://unsplash.com/matthewclarkrogers">Matthew Clark</a></h3>
						</header>
					</article>
					<article class="item">
						<a href="#" class="image fit"><img src="images/unsplash_bonnie_meisels.jpg" alt="" /></a>
						<header>
							<h3><a href="https://unsplash.com/bonniemeisels">Bonnie Meisels</a></h3>
						</header>
					</article>
				</div>
			</div>

		</div>
	</section>

<!-- About Me -->
	<section id="about" class="three">
		<div class="container">

			<header>
				<h2>About Me</h2>
			</header>

			<a href="#" class="image featured"><img src="images/unsplash_mia_domenico.jpg" alt="" /></a>

			<p>Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus
			ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae
			laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem
			parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper
			dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec
			ornare iaculis.</p>

		</div>
	</section>

<!-- Contact -->
	<section id="contact" class="four">
		<div class="container">

			<header>
				<h2>Contact</h2>
			</header>

			<p>Elementum sem parturient nulla quam placerat viverra
			mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
			donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
			orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

			<form method="post" action="#">
				<div class="row half">
					<div class="6u"><input type="text" name="name" placeholder="Name" /></div>
					<div class="6u"><input type="text" name="email" placeholder="Email" /></div>
				</div>
				<div class="row half">
					<div class="12u">
						<textarea name="message" placeholder="Message"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="12u">
						<input type="submit" value="Send Message" />
					</div>
				</div>
			</form>

		</div>
	</section>
