<div class="top">

	<!-- Logo -->
		<div id="logo">
			<span class="image avatar48"><img src="{{ assets }}images/unsplash_tahomas_lefebvre.jpg" alt="" /></span>
			<h1 id="title">Jane Doe</h1>
			<p>Hyperspace Engineer</p>
		</div>

	<!-- Nav -->
		<nav id="nav">
			<!--

				Prologue's nav expects links in one of two formats:

				1. Hash link (scrolls to a different section within the page)

				   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

				2. Standard link (sends the user to another page/site)

				   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

			-->
			<ul>
				<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
				<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
				<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
				<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
			</ul>
		</nav>

</div>

<div class="bottom">

	<!-- Social Icons -->
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
			<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
		</ul>

</div>
